<! DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>welcome page</title>
    </head>
    <body>
        <h1>This is the welcome page</h1>
        <p>welcome to the welcome page</p>
		<h3>Welcome, {{name}}</h3>

        <form action="/contact" method="POST">
            <label>Message:</label><br><br>
            <input type="text" name="msg">
            <button type="submit" class="button buttonBlue">
            Submit
            </button>
        </form>
    </body>
</html>